body{
    margin: 0;
    background-color: #c2c2c1;
}

/*nav barre*/


#menu ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-align: center;
    position: fixed;
    top:0;
    height: 10vh;
    background-color: #c2c2c1;
    width: 100%;
}

#menu li {
    float: left;
    margin: auto;
    padding: 0;
}

#menu li a {
    display: block;
    width: 100px;
    color: black;
    text-decoration: none;
    padding: 5px;
}

#menu li a:hover {
    color: #ffc400;
}

#menu ul li ul {
    display: none;
}

#menu ul li:hover ul {
    display: block;
}

#menu li:hover ul li {
    float: none;
}

#menu li ul {
    position: absolute;
}

/*connexion*/

button{
    border-radius: 10px 10px 10px 10px;
    
    position: fixed;
    top: 2%;
    right: 1%
}


/*parallax*/

.parallax {
    background-image: url("../images/vélo.jpg");
    min-height: 400px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 0px;
   
}

/*margin-top*/
/*
.marge{
    
    margin-top: 200px;

}

/*séjour*/

.photos{
    width: 20px;

}

.gallery{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 60px;
    width: 80%;
    margin-left: 20%;
}

.image_sejour{
    grid-column: span 6;
}
