body{
    margin: 0;
    background-image : url('../images/vélo.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Playfair Display', serif;
    cursor: crosshair;
}

img{
    transition: transform 2s;
}
img:hover{
    transform: scale(1.2);
}

 /*section bleu*/
.fond{
    margin-left: 10%;
    margin-right: 10%;
    background-color: rgba(113, 121, 233, 0.911);
    padding-left: 2%;
    padding-right: 2%;
    margin-top: 0%;
    padding-bottom: 1%;    
}

/*nav barre*/
nav{
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: #d3d3cf;
    position: sticky;
    border-radius: 5px;
    
}

nav ul{
    list-style-type: none;
}

nav ul li{
    float: left;
    width: 14%;
    text-align: center;
    position: relative;
}

nav ul::after{
    content: "";
    display: table;
    clear: both;
}
nav a{
    display: block;
    text-decoration: none;
    color: black;
    border-bottom: 2px solid transparent;
    padding: 10px 0px;
}
nav a:hover{
    color: #4a7ddb;
    border-bottom: 2px solid rgb(148, 142, 142);
}
.sous{
    display: none;
    background-color: #d3d3cf;
    position: absolute;
    width: 100%;
    z-index: 1000;
    border-radius: 5px;
    
}
.sous li:hover{
    border-bottom: 2px solid rgb(148, 142, 142);
    width: 90%;
}
nav > ul li:hover .sous{
    display: block;
}
.sous li{
    float: none;
    width: 100%;
    text-align: left;
}
.sous a{
    padding: 10px;
    border-bottom: none;
}
.sous a:hover{
    border-bottom: none;
    background-color: rgba(200,200,200,0.1);
}
.deroulant > a::after{
    content:" ▼";
    font-size: 12px;
}
/*connexion + FB*/

/* ²    &#connexion{
    border-radius: 10px 10px 10px 10px;
    position: fixed;
    top: 2%;
    right: 1%
} */
/*logo facebook*/
#logo_fb{
    width: 4.5%;
    position: fixed;
    top: 3%;
    right: 2%;
}
/*logo table des marée*/
#logo_maree{
    width: 8%;
    position: fixed;
    top: 2%;
    left: 1%;
    right: 3%
}

#meteo{
    width: 7%;
    position: fixed;
    top: 15%;
    left: 1.5%;
    border-radius: 5px;
}

#webcam{
    width: 7%;
    position: fixed;
    top: 15%;
    right: 1%;
    border-radius: 5%;
}

/*titre*/
h1{
    font-size: 2.5em;
    text-align: center;
}
/*séjour*/

.paragraphe {
   text-align: center ;
}

#img_accueil{

    width: 400px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/*galerie*/

.photos{
    width: 100%;
    grid-column: span 3;  
}
 
.gallery{
/* display: flex;
justify-content: center;
align-items: center; */
margin-left: 25%;
/* margin-right: 20%; */
    
}

.image_sejour{
    width: 60%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr ;
    grid-gap: 5px;
}

/* footer*/

#cadre{
    margin-bottom: 2%;
    border-color: black;
    width: 97%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#marginfooter{
    margin-top: 2%; 
}

.cb{

    display: inline-block; 
    text-align: center;
}

.cb img{
    width: 150px;
} 

.petit{
    font-size: 13px;
}

/*chambre1 + séjour*/

.texte{
   text-align: center;
   font-weight: bold;
   font-size: large;
}

.centrer_lien{
    display: block;
    text-align: center;
    font-weight: bold;
    color: rgb(95, 29, 126);
}

/*commentaires*/
input{
    width: 20%;
   
}

#message{
    width: 50%;
    height: 10%;
}
/*plan accés*/
#plan{
    width: 60%;
}

#bis{

    display: flex;
    justify-content: center;    
}

#iti{

    margin-left: 20%;
}
