body{
    margin: 0;
    background-image : url('../images/vélo.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Playfair Display', serif;
    
}

 /*section grise*/
.fond{
    margin-left: 10%;
    margin-right: 10%;
    background-color: rgba(113, 121, 233, 0.911);
    padding-left: 2%;
    padding-right: 2%;
    margin-top: 0%;
    padding-bottom: 1%;
}

/*nav barre*/
#menu ul {
    
    margin: 0%;
    padding: 0%;
    list-style-type: none;
    text-align: center;
    background-color: #d3d3cf;
}

#menu li {
    float: left;
    margin: auto;
    padding: 0;
}

#menu li a {
    display: block;
    padding-top: 15px ;
    color: black;
    text-decoration: none;
    margin-left: 30px;
}

#menu li a:hover {
    color: #4a7ddb;
}

#menu ul li ul {
    display: none;
    width: 10%;
    margin: 0;  
    margin-left: 1%;
    padding: 0;
}

#menu ul li:hover ul {
    display: block;
}

#menu li:hover ul li {
    float: none;
}

#menu li ul {
    position: absolute;
}

.menu2{
    margin-bottom: 20px;
}

/*connexion*/

button{
    border-radius: 10px 10px 10px 10px;
    
    position: fixed;
    top: 2%;
    right: 1%
}

/*titre*/
h1{
    font-size: 2.5em;
    text-align: center;
}
/*séjour*/

.paragraphe {
   text-align: center ;
}

#img_accueil{

    width: 400px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/*galerie*/

.photos{
    width: 200px;
}
 
.gallery{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 5px;
}

.image_sejour{
    grid-column: span 6;
}

/* footer*/

#cadre{
    margin-bottom: 2%;
    border-color: black;
    width: 100%;
}

#marginfooter{
    margin-top: 2%;   
}

.cb{
    display: inline-block;
    text-align: center;
    padding-left: 5%;
}

.cb img{
    width: 100px;
    padding-bottom: 100%;
} 

/*chambre1*/

#texte1{

   text-align: center;
   font-weight: bold;
   font-size: large;

}

/*chambre2*/

#texte2{

    text-align: center;
    font-weight: bold;
    font-size: large;

}

/*chambre3*/

#texte3{

    text-align: center;
    font-weight: bold;
    font-size: large;

}
