*{
    margin: 0;
}

/*nav barre*/


  .menu{
    display: flex;
    text-decoration: none;
    list-style: none;
    padding: 10px;
    background:white;

}

.menu .menu2{
    display: block;
    padding: 10px;
}

a{
    text-decoration: none;
    color: black;
}
 /*chambres, sous-menu*/

 .under{
    display: none;
    box-shadow: 0px 1px 2px #ccc;
    background-color:white;
    width:100%;
    z-index:1000;
}

nav > ul li:hover .under{
    display:block;
}

.under li {
    float:none;
    width:100%;
    text-align:left;
}

.under a{
    padding: 10px;
    border-bottom:none;
}

.under a:hover{
    border-bottom:none;
    background-color:rgb(red, green, blue, 0.1);
}


/*connexion*/
#connexion{
    border-radius: 10px 10px 10px 10px;
}

/*parallax*/

.parallax{
    background-image: url(../images/accueil.jpg);
    min-height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;  
}

/*sejour*/

.sejour{
    width: 250px;
}
    
    .grid_container{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-gap: 10px;
        line-height : 0;
    }
   
    .box_grid_item {
        grid-column: span 4;
    }
 
    
